@font-face {
  font-family: 'DINNext Bold';
  src: url(../assets/fonts/DINNextW1G-Bold.otf);
}

@font-face {
  font-family: 'DINNext Regular';
  src: url(../assets/fonts/DINNextW1G-Regular.otf);
}

@font-face {
  font-family: 'Valorant';
  src: url(../assets/fonts/Valorant\ Font.ttf);
}

* {
  font-family: 'DINNext Bold';
  box-sizing: border-box;
  margin: 0;
  padding: 0px;
  border: none;
}

body {
  background-color: #1F2326;
}

/*------------- Header -------------*/

header {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: space-between;
  padding: 0 10%;
  top: 0px;
  z-index: 1;
  background: linear-gradient(90deg, #FF4656 0%, #992A34 100%);
  width: 100%;
  height: 90px;
}

.logo {
  cursor: pointer;
}

.navBar {
  display: flex;
  align-items: center;
  gap: 35px;
  font-size: 1.2rem;
}

.navLink {
  text-decoration: none;
  color: white;
}

.navLink:hover {
  color: #ffbdbd;
}

.containerPesquisa {
  display: flex;
  align-items: center;
  gap: 10px;

  border: 1px solid #FF4656;
  background: #C33844;
}

.inputPesquisa {
  background: #C33844;
  outline: none;
  font-size: 1rem;
  color: #ffbdbd;
  padding: 5px;
}

.btnPesquisa {
  cursor: pointer;
  background-color: #FF4656;
  padding: 5px;
}

/*------------- Destaques -------------*/

.containerHome {
  margin-top: 140px;
}

.secDestaques {
  margin: auto;
  display: flex;
  width: 80%;
}

/*------------- Geral -------------*/

.h1Titulo {
  color: #FF4656;
  font-family: "Valorant";
  font-weight: 300;
  margin-left: 10%;
  margin-top: 50px;
}

.containerArmas {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  margin-top: 50px;
  width: 80%;
}

/*------------- Anuncios -------------*/

.vertical {
  background-image: url(../assets/img/anuncioexemplo2.png);
  padding-top: 50px;
  width: 20%;
}

.horizontal {
  background-image: url(../assets/img/anuncioexemplo1.png);
  margin: auto;
  margin-top: 70px;
  width: 80%;
}

/*------------- Card -------------*/

.cardArma {
  display: flex;
  flex-direction: column;
  position: relative;
  cursor: pointer;
  border: 2px solid #FF4656;
  background: #191C1E;
  min-height: 215px;
  max-height: 215px;
  min-width: 190px;
}

.cardArma:hover {
  transform: scale(1.01);
}

.fotoArmaCard {
  margin: auto;
  max-width: 170px;
  max-height: 100px;
  padding: 5px;
}

.nomeArmaCard {
  color: #C4C4C4;
  margin: auto;
  margin-bottom: 30%;
  font-size: 20px;
  font-style: normal;
  font-weight: 750;
  line-height: normal;
}

.dadosCard {
  position: absolute;
  background-color: #1F2326;
  display: flex;
  align-items: center;
  padding: 0px 10px;
  justify-content: space-between;
  bottom: 0;
  width: 100%;
  height: 25%;
}

.dadosCard img {
  max-width: 30px;
}

.valorSkin {
  display: flex;
  align-items: center;
  gap: 8px;
}

.valorSkin img {
  max-height: 30px;
  max-width: 30px;
}

.valorSkinCard {
  color: white;
  padding-top: 5px;
  font-size: 1.7em;
}

/*------------- Novas skins -------------*/

.secNovos {
  display: flex;
  width: 80%;
  margin: auto;
  margin-top: 50px;
}

.fotoBundle {
  max-width: 680px;
}

.bundleTitulo {
  color: #FF4656;
  font-size: 28px;
  font-style: normal;
  font-weight: 750;
  line-height: normal;
}

.infoBundle {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  gap: 20px;
  max-height: 300px;
}

.containerBundle {
  display: flex;
  align-items: center;
  gap: 20px;
}

.valorBundle {
  display: flex;
  align-items: center;
  gap: 10px;
}

.valorBundle .valorSkinCard {
  font-size: 2.1em;
}

.nivelSkinBundle,
.imgValorantPoints {
  max-width: 40px;
  max-height: 40px;
}

.btnVerMais {
  margin-top: 60px;
  cursor: pointer;
  background-color: #FF4656;
  color: white;
  font-size: 1.8em;
  padding: 8px;
  padding-top: 12px;
  width: 150%;
}

/*------------- Botoes de pagina -------------*/

.secBotoes {
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  margin-top: 70px;
  margin-bottom: 70px;
  width: 80%;
}

.secBotoes button {
  background-color: #FF4656;
  cursor: pointer;
  padding-top: 4px;
  width: 340px;
  height: 55px;
  font-size: 2em;
  color: white;
}

.btnVerMais:hover,
.secBotoes button:hover {
  background-color: #ffffff;
  transition: ease-in-out 0.2s;
  color: #FF4656;
}

/*------------- rodapé -------------*/

.rodape {
  height: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #191C1E;
}

.rodape p {
  color: #FFF;
  margin: auto;
  width: 80%;
  text-align: center;
  font-size: 1.2em;
  font-style: normal;
  font-weight: 750;
  line-height: normal;
}

.rodape a {
  color: #0F1113;
  text-align: center;
  margin-bottom: 20px;
  font-family: "DIN Next W1G";
  font-size: 24px;
  font-style: normal;
  font-weight: 750;
  line-height: normal;
  text-decoration: none;
}